@import "../../../node_modules/bootstrap/scss/_functions.scss";

.accent1 {
    background-color: #51c6e9;
    height: 100px;
    background-image: linear-gradient(#25add6dc, #ffffff);
}

.accent2 {
    background-color: #382200;
}

.main-color {
    color: #001952;
}

.sticky {
    position: fixed;
    top: 0;
    
}

.gutter {
    background-image: url('../images/gutter-backgrounds.jpg');
}

.form-border {
    border: solid #001952;
}

